# EditorConfig is awesome: https://EditorConfig.org

# Stop the editor from looking for .editorconfig files in parent directories
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Markdown files can have trailing whitespace (for line breaks)
[*.md]
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Package.json or other specific JSON files that might need specific formatting
[{package.json,*.code-snippets}]
indent_size = 2
